apiVersion: apps/v1
kind: Deployment
metadata:
  name: "deployment-{{ .Release.Name }}"
spec:
  strategy:
    rollingUpdate:
      maxSurge: {{ .Values.maxSurge }}
      maxUnavailable: {{ .Values.maxUnavailable }}
    type: RollingUpdate
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      name: "{{ .Chart.Name }}"
  template:
    metadata:
      labels:
        name: "{{ .Chart.Name }}"
    spec:
      containers:
      - name: "{{ .Chart.Name }}"
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: "{{ .Values.image.pullPolicy }}"
        resources:
          requests:
            cpu: 70m

